
/* ||RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:active{
    background-color: inherit;
}

img{
    display: block;
}

:root{
    --BG-COLOR:  #c0c1ca;
    --LIGHT-BG-COLOR: rgba(28, 194, 194, 0.324);
    --FCOLOR:  #3c4669;
    --CCOLOR: rgb(123, 169, 123);
    --BOXSHADOW: 0 2px 10px rgba(0, 0, 0, 0.1);
}
/* ||CLOSE RESET */


body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Change text at the top */


.c-text {
    text-align: center;
    font-size: 1.5rem;
    color: #7474b1; /* Navy blue text color */
    height: auto; /* Allow the height to adjust based on content */
    margin: 0 20px; /* Add margin for small screens */
    margin-top: 30px;
  }

  .text-container {
    display: inline-block;
    border-right: 2px solid; /* Blinking cursor effect */
    animation: blink 0.7s infinite; /* Cursor blink effect */
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  @keyframes blink {
    0%, 100% {
      border-color: transparent;
    }
    50% {
      border-color: #7474b1;
    }
  }

  /* Media Queries for Responsiveness */

  /* Adjust for tablets */
  @media (max-width: 768px) {
    .c-text {
      font-size: 1.2rem; /* Slightly smaller text */
    }
  }

  /* Adjust for mobile devices */
  @media (max-width: 480px) {
    .c-text {
      font-size: 1rem; /* Smaller text for mobile */
    }
  }


/* close */

.flash{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 16px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .flash {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}


.prod {
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: auto;
}

.notification-count {
    position: absolute;
    top: -10px; /* Adjust this to position it over the icon */
    right: -10px; /* Adjust this as well */
    background-color: red;
    color: white;
    font-size: 9px;
    padding: 3px 5px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 2px 2px 5px #555;
}

#notificationLink{
    position: relative;
}

#notificationCount{
    position: absolute;
    top: 1px;
    right: 1px;
    width: fit-content;
}

.prod:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.prod a img{
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    height: 200px;
    border-bottom: 1px solid #f0f0f0;
    transition: transform 0.3s ease;
}

.prod:hover a img {
    transform: scale(1.05);
}

.prod a .text{
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    color: #333;
    font-size: 14px;
    gap: 5px;
}

.text span{
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.prod .text span:first-child {
    font-size: 16px;
    color: #2c3e50;
    font-family: "Radio Canada", sans-serif;
    text-transform: capitalize;
}

.text span:nth-child(2){
    width: fit-content;
    border-radius: 3px;
    color: #505b5c;
    font-style: italic;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.prod .text span:nth-child(3) {
    font-weight: 700;
    font-family: "PT Mono", monospace;
    color: #333;
    font-size: 20px;
}

.prod .text span:last-child {
    font-size: 14px;
    color: #95a5a6;
}

.location-icon{
    position: relative;
    top: 3px;
}

.top-ad{
    width: 70%;
    margin-inline: auto;
    height: 50vh;
    min-height: 200px;
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f4f4f4; /* Optional: Add a background color */
    margin-bottom: 30px;
}

.top-ad img{
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    section.top-ad img {
        width: 100%; /* Ensure the image scales down appropriately */
    }
}

@media screen and (max-width: 950px) {
    .top-ad{
        height: 30vh;
        width: 90%;
    }
}

#backToTopBtn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: none;
    position: fixed;
    bottom: 20px;
    border: 1px solid var(--BG-COLOR);
    margin-inline: auto;
    left: 47.5%;
    padding: 10px;
    opacity: 0.8;
    background-color: var(--FCOLOR);
    color: white;
    cursor: pointer;
    z-index: 4;
    font-size: 20px
}

#banner{
    transition: opacity 1s ease-in-out;
}

.hrsc{
    padding-bottom: 20px;
}

/*|| PRODUCT CARD */
.pd_cd {
    text-decoration: none;
    color: var(--FCOLOR);
    width: 100%;
    height: 300px;
    border-radius: 5px;
    width: 100% !important;
}

.product-card{
    width: 100% !important;
    height: 100%;
    border-radius: 5px;
    transition: all 0.3s ease;    
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.product-card img{
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    object-position: center;
    height: 70%;
    border-bottom: 1px solid #f0f0f0;
    transition: transform 0.3s ease;
}

.product-card article{
    height: 30%;
    display: flex;
    gap: 7px;
    justify-content: space-between;
    flex-direction: column;
    padding:  5px 10px;
    color: #333;
    font-size: 14px;
    overflow: hidden;
}

.product-card p{
    width: 100% !important;
    align-items: center;
}

.product-card p:first-child{
    overflow: hidden;
    font-weight: 400;
    font-size: 16px;
    color: #2c3e50;
    font-family: "Radio Canada", sans-serif;
    text-transform: capitalize;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.product-card p:nth-child(2){
    width: fit-content;
    border-radius: 3px;
    color: #505b5c;
    font-style: italic;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-card p:last-child{
    width: 100%;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.product-card .price {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.product-card .price span:first-child{
    font-family: "PT Mono", monospace;
    font-size: 18px;
    color: #222;
}

.product-card .price span:nth-child(2){
    color: #555;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: right;
}



/*||CLOSE PRODUCT CARD */

/* || HR DIS SECTION */
section .trough{
    padding: 20px;
    overflow: hidden; /* Prevents vertical overflow */
}

.trough .prod{
    max-width: 250px;
}

.brand-logo .b-logo {
    width: 50px;
    height: auto;
  }

.brand-logo{
    margin-bottom: 20px;
    height: min(50px, 10vh);
    background-color: var(--BG-COLOR);
    margin-inline: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.brand-logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    color: var(--FCOLOR);
}

.brand-logo .name {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.8em;
  margin-top: 10px;
  font-weight: bold;
}

.brand-logo a p{
    margin-top: auto; /* new */
    margin-bottom: auto; /* new */
}

.hrsc{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 5px;
    margin-inline: 16px;
    margin-bottom: 16px;
}

.hrsc::-webkit-scrollbar {
    height: 8px;
}
  
.hrsc::-webkit-scrollbar-thumb {
background-color: #ccc;
border-radius: 10px;
}
  
.hrsc::-webkit-scrollbar-track {
background-color: #f1f1f1;
}

@media (max-width: 768px) {
.product-card {
width: 200px;
    margin-right: 10px;
}
}
/* ||CLOSE HR DIS SECTION */


/* ||FOOTER */
footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:  var(--FCOLOR);
    position: relative;
    bottom: 0;
    margin-top: 200px;
}

.mainft{
    color:  rgba(255, 255, 255, 0.781);
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:  2vw;
    justify-content: space-between;
}

.socials{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.socials a{
    color: rgba(255, 255, 255, 0.781);
    width: 100%;
    text-align: center;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact a{
    color: white;
    text-decoration: none;
}

.ftft{
    margin: 2vh 0;
    color:  rgb(27, 151, 48);
    text-align: center;
}

/* for new footer designs */

.legal_pg{
    color: var(--BG-COLOR);
    text-decoration: none;
}

.about a:hover, .about a:active, .socials a:hover, .socials a:active{
    font-weight: bolder;
}

.socials a:hover, .socials a:active{
    transform: scale(1.1);
}

.contact a:hover, .contact a:active{
    font-weight: bolder;
}

/* ||CLOSE FOOTER */

@media screen and (max-width: 565px){
    .product-display, .banner, .trough{
        width: 100%;
    }

    .trough{
        margin-inline: 0;
        padding-inline: 5px;
        overflow-x: hidden;
    }
    
    .sales-pic{
        width: 100%;
    }

    .sales-pic img{
        width: 100%;
    }
}


