/* ||RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img{
    display: block;
}

:root{
    --BG-COLOR:  rgb(192, 193, 202);
    --LIGHT-BG-COLOR: rgba(28, 194, 194, 0.324);
    --FCOLOR:  rgba(60, 70, 105);
}
/* ||CLOSE RESET */

body{
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    margin: 0;
}


/* ||HEADER */
header{
    padding: 5px;
    width: 100%;
    z-index: 1;
    color: black;
    box-shadow: 1px 1px 10px 1px;
    background: linear-gradient(
        180deg,
        white,
        var(--BG-COLOR)
        )
    }
    
.top{
    height: 60%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.logo{
    height: 100%;
    width: 55%;
    margin-left: 1vw;
    display: grid;
    align-items: center;
}

.logo a {
    height: 7.5vh;
}

.logo a{
    width: fit-content;
}

.logo a img{
    height: 7.4vh;
    width: 60%;

    object-fit: contain;
    object-position: left;
}

input{
    border-radius: 0 5px 5px 0;
    outline: none;
    border: none;
    color:  #180b18;
    width: 50%;
    padding-left: 7px;
    font-size: 16px;
}

input::placeholder{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form input:first-child,
.p-inp{
    width: 80%;
    height: 50px;
    margin-bottom: 2vh;
    margin-inline: auto;
    border-radius: 10px;
    padding: 5px;
    text-overflow: ellipsis;
    max-width: 700px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #333;
}

form input:first-child{
    margin-bottom: 3vh;
}

form input:focus{
    border: 1px solid #ffa500;
}

.p-inp input{
    margin: 0 !important;
    width: 96% !important;
    border: none;
    outline: none;
    height: 90% !important;
    box-shadow: none !important;
}

.p-inp input:focus{
    border: none;
}

@media screen and (max-width: 365px){
    form input{
        width: 100%;
    }
}

#home-icon{
    padding: 3px;
    border-radius: 50%;
    background-color: var(--FCOLOR);
    transition: all 500ms ease;
    position: relative;
    top: 10px;
    box-shadow: 2px 2px 5px #555;
}

#home-icon:hover{
    transform: translateY(-5px);
}

#home-icon svg{
    fill: #fff;
}

/* ||CLOSE HEADER */

main{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Take the remaining space */
    gap: 15px;
    padding-inline: 10px;
}

.alert{
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bolder;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: var(--FCOLOR);
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 0 2px 2px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
    box-shadow: 2px 2px 5px #555;
    border-radius: 10px;
    background-color: var(--BG-COLOR);
    margin-inline: auto;
    padding: 3vw;
    opacity: 0.8;
}

.p-inp {
    display: flex;
    align-items: center;
}

.p-inp:focus-within{
    border: 1px solid #ffa500;
}

.p-inp svg{
    cursor: pointer;
}

form p{
    width: 60%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}

form p:last-child{
    margin-top: 3vh;
}

.fgpw_lg{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    gap: 2vh;
}

.fgpw_lg:hover{
    color: var(--BG-COLOR);
}

.fgpw_lg p:first-child{
    display: grid;
    justify-content: center;
}

#fgpw_lnk{
    text-decoration: none;
    margin: 3px 0;
    white-space: nowrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#fgpw_lnk:hover{
    color: red;
}

.login{
    background-color: var(--FCOLOR);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    width: fit-content;
    margin-inline: auto;
    box-shadow: 1px 1px 5px #555    ;
}

.login:hover{
    background-color: #ffa500;
    color: #fff;
    transform: scaleX(1.05);
    transition: all 200ms linear;
}

.register{
    display: flex;
    gap: 5px;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
}

.register span{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.register a{
    text-decoration: underline;
    font-weight: bold;
    width: fit-content;
    margin-inline: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.register a:hover, a:active{
    color: red;
}

.error{
    color: red;
    text-align: center;
    font-size: 14px;
    font-family: fantasy;
    margin-top: -12px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    gap: 3px;
    align-items: center;
    width: 100%;
    border: 1px solid red;
}




/* ||MEDIA QUIRIES */

@media screen and (max-width: 365px){
    .register{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    form{
        width: 100%;
        padding-inline: 5px;
    }
}

@media screen and (max-width: 565px){
    #lg_dt{
        display: flex;
        flex-direction: column;
        gap: 4vh;
    }

    .fg_pw{
        text-align: center;
    }

    #lgms{
        width: 100px;
        text-align: center;
    }

    .register{
        font-size: 12px;
        width: 70%;
    }

    form{
        padding: 20px;
    }
}

/* ||CLOSE MEDIA QUERIES */