        :root{
            --BG-COLOR:  rgb(192, 193, 202);
            --LIGHT-BG-COLOR: rgba(28, 194, 194, 0.324);
            --FCOLOR:  rgba(60, 70, 105);
            --CCOLOR: rgb(123, 169, 123);
        }

        *{
            color: var(--FCOLOR);
        }

        #res, #rel{
            color: var(--FCOLOR);
            font-size: 1rem;
        }

        .searchResults{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 16px;
            padding: 16px;
        }

        .pd_cd{
            border-radius: 8px;
            overflow: hidden;
            transition: transform 0.3s;
            box-shadow: 1px 1px 5px 1px var(--BG-COLOR);
            text-decoration: none;
        }

        .product-card{
            text-decoration: none;
            color: var(--FCOLOR);
            font-size: 14px;
            font-weight: bolder;
            display: flex;
            flex-direction: column;
            height: 100%;
            box-shadow: 1px 1px 5px 1px var(--BG-COLOR);
            border-radius: 5px;
        }

        @media screen and (min-width: 470px) {
            .pd_cd{
                width: 30%;
            }
        }
        @media screen and (min-width: 810px) {
            .pd_cd{
                width: 23%;
            }
        }
        @media screen and (min-width: 1080px) {
            .pd_cd{
                width: 18%;
            }
        }

        .product-card img{
            border-radius: 5px 5px 0 0;
            width: auto;
            height: 70%;
        }

        .product-card article{
            height: 30%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 5px;
            background-color: var(--BG-COLOR);
        }

        article p:first-child{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        article p{
            margin: 0;
            padding: 0;
            text-transform: capitalize;
        }

        .price{
            display: flex;
            justify-content: space-between;
        }

        .price span{
            background-color: var(--CCOLOR);
            padding-inline: 3px;
            border-radius: 5px;
            width: fit-content;
            height: fit-content;
        }