<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget password</title>
    <style>
            :root{
            --BG-COLOR:  rgb(192, 193, 202);
            --LIGHT-BG-COLOR: rgba(28, 194, 194, 0.324);
            --FCOLOR:  rgba(60, 70, 105);
            --CCOLOR: rgb(123, 169, 123);
        }

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .contain{
            max-width: 500px;
            margin-inline: 5vw;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 3vh 5px;
            box-shadow: .1px .1px 5px .1px;
        }

        @media screen and (min-width: 500px) {
            .contain{
                width: 80%;
                aspect-ratio: 2/1;
            }
        }

        div{
            color: var(--FCOLOR);
            text-align: center;
        }

        #xv3{
            width: 90%;
            display: flex;
            flex-direction: column;
        }

        input{
            height: 7vh;
            border: none;
            outline: 1px solid var(--FCOLOR);
            outline-offset: -3px;
            background-color: var(--LIGHT-BG-COLOR);
            padding: 7px;
            border-radius: 5px;
            color: var(--FCOLOR);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-bottom: 10px;
        }

        #send{
            margin-left: auto;
            margin-right: 3px;
            padding: 3px 10px;
            outline: 1px dashed var(--BG-COLOR);
            outline-offset: -2px;
            font-size: 14px;
            font-weight: bolder;
            color: var(--BG-COLOR);
            background-color: var(--FCOLOR);
            border: none;
            border-radius: 5px;
        }

        #code{
            font-size: 14px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin: 3vh 0;
        }
        
       .rsd{
            display: flex;
            width: fit-content;
            gap: min(10vw, 50px);
       }

       #resend-btn{
            border: none;
            background-color: var(--CCOLOR);
            color: var(--FCOLOR);
            padding: 3px;
            border-radius: 5px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       }

       button{
        box-shadow: .5px .5px 2px .3px black;
       }

    </style>
</head>
<body>
    <div class="contain">
        <div id="xv3">
            <form action="/change-pword" method="POST">
            <p id="enter-email">Enter your email address:</p>
            <input type="email" id="email">
            <button id="send" type="submit">
                Send
            </button>
            </form>
        </div>
    </div>
</body>
</html>