*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo img{
    display: block;
    object-fit: contain;
    object-position: left;
}

img{
    display: block;
    object-fit: cover;
    object-position: center;
}