<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIssan caliper</title>
    <link rel="stylesheet" href="../css_folder/productpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" 
       integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" 
       crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <header>
    <div class="top">
      <div class="logo">
        <a href="eas.homepage.html">
          <img src="../img_folder/Logo_2.png" alt="eas logo" width="250px" height="37px">
        </a>
      </div>
      <div class="others">
        <a href="cartpage.html" style="display: none;"><i class="fa-solid fa-cart-shopping"></i></a> 
        <a href="profilepage.html"><i class="fa-solid fa-user"></i></a>
        <div class="toggle-bar" onclick="toggleDropdown()" style="cursor: pointer">
          <i class="fa-solid fa-bars" id="toggleButton"></i>
          <!-- <i class="fa-solid fa-xmark"></i> -->
          <ul id="list" class="hidden" style="position: absolute; top: 9vh; left: 20px; list-style-type: none; background-color: var(--BG-COLOR); color: var(--FCOLOR); width: 200px; padding: 10px; border-radius: 5px; box-shadow: 1px 1px 1px 1px var(--FCOLOR);" >
            <li style="text-align: center; border-bottom: 1px solid var(--LIGHT-BG-COLOR); text-align: center; font-weight: bolder; padding: 5px 0;">Categories</li>
            <li style="text-align: center; border-bottom: 1px solid var(--LIGHT-BG-COLOR); padding: 5px 0;">Toyota</li>
            <li style="text-align: center; border-bottom: 1px solid var(--LIGHT-BG-COLOR); padding: 5px 0;">Lexus</li>
            <li style="text-align: center; border-bottom: 1px solid var(--LIGHT-BG-COLOR); padding: 5px 0;">Honda</li>
            <li style="text-align: center; border-bottom: 1px solid var(--LIGHT-BG-COLOR); padding: 5px 0;">Audi</li>
            <li style="text-align: center; border-bottom: 1px solid var(--LIGHT-BG-COLOR); padding: 5px 0;">Acura</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="search">
          <span><i class="fa-solid fa-magnifying-glass"></i></span>
          <input type="text" placeholder="Search for products, categories and offers...">
          <button>
            search
          </button>
      </div>
    </div>
      
    </div>
  </header>
  <main>
    <section id="pdct">
      <div class="product_image">
          <img src="../img_folder/nissan-caliper.webp" alt="Nissan Altima Caliper">
          <img src="../img_folder/nissan-caliper-1.jpg" alt="Nissan Altima Caliper">
          <img src="../img_folder/nissan-caliper-2.webp" alt="Nissan Altima Caliper">
          <img src="../img_folder/nissan-caliper-3.webp" alt="Nissan Altima Caliper">
          <img src="../img_folder/nissan-caliper-4.jpg" alt="Nissan Altima Caliper">
      </div>
      <div id="details">
          <p><span class="label">Name</span><span class="content">Nissan Caliper</span></p>
          <p><span class="label">Condition</span><span class="content">Used/Tokunbo</span></p>
          <p><span class="label">Description</span><span class="content"> Altima Caliper front wheels</span></p>
          <p><span class="label">Price</span><span class="content">&#8358;40,000</span></p>
      </div>

      <div class="or_btn">
        <div class="qty">
          <span id="sp_qty">QTY:</span>
          <input type="number" id="quantity" min="0">
        </div>
        <button id="order1">Add to cart</button>
        <button id="order2" href="">Place Order</button>
            <div class="contact_top" style="display: none;">
                <a href="sellers whatsapp contact" style="color: var(--FCOLOR);"><img src="../img_folder/whatsapp_icon.png" alt="Whatsapp" width="40px" height="40px"> <span class="nmbr">+(234) 804 037 2689</span></a>
                <a href="" style="color: var(--FCOLOR);"><i class="fa-solid fa-phone-volume"></i><span class="nmbr">+(234) 703 696 6785</span></a>
                <a href="" id="msg"><i class="fa-solid fa-message"></i><span class="nmbr">Message</span></a>
            </div>

      </div>
    </section>

    <div class="recommended">
        <p id="rc_title">Related searches</p>

        <section class="partshow">
          <a href="camry-lower-arm.html" class="prdt_lnk">
            <div class="product-slot">
              <img src="../img_folder/camry-lower-arm-right-2.webp" alt="camry lower arm">
              <article>
                <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota Camry Lower Arm Used/Tokunbo</p>
                <p>&#8358;22,000</p>
              </article>
            </div>
          </a>
          <a href="camry-fuel-pump.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/camry-fuel-pump-2.jpg" alt="camry fuel pump">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota Camry fuel pump 2007 - 2010 Tokunbo</p>
                  <p>&#8358;30,000</p>
                </article>
              </div>
          </a>
          <a href="nis" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/camry-exhaust-2.png" alt="Toyota camry Exhaust pipe">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota Camry exhaust pipe Tokunbo 
                </p>
                  <p>&#8358;150,000</p>
                </article>
              </div>
          </a>
          <a href="camry_half_engine_2AZ.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/half_engine_2AZ_1.jpeg" alt="toyota camry half engine 2AZ">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota Camry Half Engine 2AZ-FE japan</p>
                  <p>&#8358;450,000</p>
                </article>
              </div>
          </a>
          <a href="nissan-engine.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/nissan-engine-2.jpg" alt="nissan-engine-">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Nissan Almera Engine Tokunbo </p>
                  <p>&#8358;350,000</p>
                </article>
              </div>
          </a>
          <a href="camry-timing-belt.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/camry-timing-belt-3.webp" alt="camry timing belt">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota Camry Timing Belt 2AZ-FE Brand New</p>
                  <p>&#8358;7,000</p>
                </article>
              </div>
          </a>
          <a href="toyata-spark-plug.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/spark-plug-2.jpeg" alt="camry spark plug">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota Camry Spark Plug Brand New </p>
                  <p>&#8358;3,500</p>
                </article>
              </div>
          </a>
          <a href="camry-fuel-injector.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/camry-fuel-injector-2.webp" alt="camry fuel injector">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota Camry Fuel Injector Tokunbo</p>
                  <p>&#8358;13,000</p>
                </article>
              </div>
          </a>
          <a href="nissan.ignition-coil.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/nissan-ignition-coil-2.jpg" alt="nissan ignition coil">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">`Nissan Ignition Coil</p>
                  <p>&#8358;17,000</p>
                </article>
              </div>
          </a>
          <a href="camry-waterpump.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/camry-waterpump-3.jpg" alt="camry WAter pump">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota Camry Water pump Tokunbo </p>
                  <p>&#8358;9,000</p>
                </article>
              </div>
          </a>
          <a href="camry-driveshaft.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/camry-driveshaft-1.webp" alt="">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota Camry Drive Shaft Tokunbo</p>
                  <p>&#8358;60,000</p>
                </article>
              </div>
          </a>
          <a href="camry-manifold.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/camry-manifold-3.jpg " alt="camry manifold">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota Camry Manifold Tokunbo for 2AZ Engines</p>
                  <p>N20,000</p>
                </article>
              </div>
          </a>
          <a href="camry-backlight.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/camry-backlight-3.jpg" alt="camry Tail ligth ">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota camry Tail Ligth Tokunbo
                  </p>
                  <p>&#8358;25,000</p>
                </article>
              </div>
          </a>
          <a href="camry-tie-rod.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/camry-tie-rod-1.jpg" alt="camry Tie Rod ">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota Camry Tie Rod Front Wheels Tokunbo
                  </p>
                  <p>&#8358;15,000</p>
                </article>
              </div>
          </a>
          <a href="camry-valve.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/camry-valve-2.avif" alt="camry valve">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota Camry valve Tokunbo</p>
                  <p>&#8358;27,000</p>
                </article>
              </div>
          </a>
          <a href="camry-spring.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/camry-spring-2.webp" alt="camry shock absorber spring">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota Camry Shock Absorber Front Spring Tokunbo </p>
                  <p>&#8358;22,000</p>
                </article>
              </div>
          </a>
          <a href="camry-speedometer.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/camry-dashboard-2.jpg" alt="camry speedometer">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota Camry Speedometer</p>
                  <p>&#8358;15,000</p>
                </article>
              </div>
          </a>
          <a href="camry-clutch.html" class="prdt_lnk">
              <div class="product-slot">
                <img src="../img_folder/camry-clutch-2.jpg" alt="camry clutch">
                <article>
                  <p style="text-overflow: ellipsis; text-overflow: clip;">Toyota Camry Clutch and Plate Tokunbo</p>
                  <p>&#8358;28,000</p>
                </article>
              </div>
          </a>
          
        </section>
    </div>

    <p id="tpsrch">Top Searches</p>
    <section class="top_searches">
        <div>
          <a href="camry-brake-pad.html"  class="one">
         <span>Toyota Camry Brake Pads</span> </a>
          <span class="two"><i class="fa-solid fa-xmark"></i></span>
         
        </div>
        <div>
          <a href="camry-steering-pump.html" class="one">
          <span >Toyota corolla power steering Pump</span></a>
          <span class="two"><i class="fa-solid fa-xmark"></i></span>
        </div>
        <div>
          <a href="camry-shock-absorber.html" class="one">
            <span>Shock Absorber Toyota camry</span></a>
          <span class="two"><i class="fa-solid fa-xmark"></i></span>
        </div>
        <div>
          <a href="toyata-spark-plug.html" class="one">
          <span>Spark plug Toyota</span></a>
          <span class="two"><i class="fa-solid fa-xmark"></i></span>
        </div>
        <div>
          <a href="camry-caliper.html" class="one">
          <span>Toyota Camry Caliper</span></a>
          <span class="two"><i class="fa-solid fa-xmark"></i></span>
        </div>
        <div>
          <a href="camry-fuel-injector.html" class="one">
          <span>Camry Fuel Injector</span></a>
          <span class="two"><i class="fa-solid fa-xmark"></i></span>
        </div>
        <div>
          <a href="camry-timing-belt.html" class="one">
          <span>Timing Belt</span></a>
          <span class="two"><i class="fa-solid fa-xmark"></i></span>
        </div>
        <div>
          <a href="camry-gearbox.html" class="one">
          <span>Gear Box Toyota Corolla</span></a>
          <span class="two"><i class="fa-solid fa-xmark"></i></span>
        </div>
    </section>
  </main>
  
 <footer>
    <div class="mainft">
      <div class="socials">
        <p style="color: rgb(27, 151, 48);">Socials</p>
        <a href="">
          <p><i class="fa-brands fa-instagram"></i></p>
        </a>
        <a href="">
          <p><i class="fa-brands fa-facebook"></i></p>
        </a>
        <a href="">
          <p><i class="fa-brands fa-facebook-messenger"></i></p>
        </a>
        <a href="">
          <p><i class="fa-brands fa-x-twitter"></i></p>
        </a>
        <a href="">
          <p><i class="fa-brands fa-youtube"></i></p>
        </a>
        <a href="" style="text-decoration: none; font-size: 14px;">
          <p class="blog">Our Blog</p>
        </a>
      </div>
        <div class="contact">
          <p style="color: rgb(27, 151, 48);">Contact</p>
          <a href="">
            <i class="fa-brands fa-whatsapp"></i> +(234) 802 496 3039
          </a>
          <a href="">
            <i class="fa-solid fa-phone"></i> +(234) 814 6922 131
          </a>
        </div>
        <div class="about">
          <p style="color:  rgb(27, 151, 48);">About us</p>
          <p>About <span style="font-style: italic; color: aqua;"><a href="fdgfg" class="legal_pg" style="color: var(--BG-COLOR);">e-autopartstore</a></span></p>
          <p><a href="" class="legal_pg">Terms & Conditions</a></p>
          <p><a href="" class="legal_pg">Privacy Policy</a></p>
          <p><a href="" class="legal_pg">Billing Policy</a></p>
          <p><a href="" class="legal_pg">Cookie Policy</a></p>
          <p><a href="" class="legal_pg">Copyright Infringement Policy</a></p> 
        </div>
      </div> 
      <div class="ftft">
        <p><em>@2024 e-autopartstore</em></p>
      </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
    var button = document.getElementById("toggleButton");
    var list = document.getElementById("list");

    button.addEventListener("click", function () {
        list.classList.toggle("hidden");
    });
    });

     //Toggle Dropdown
     function toggleDropdown() {
    var toggleButton = document.getElementById('toggleButton');
    var list = document.getElementById('list');

    // Toggle between bars and x icons
    toggleButton.classList.toggle('fa-bars');
    toggleButton.classList.toggle('fa-times');
  }
  </script>
</body>
</html>